modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0", "revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 3001

[[ports]]
localPort = 24342
externalPort = 3000

[[ports]]
localPort = 24343
externalPort = 3003

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
REVENUECAT_PROJECT_ID = "proj7db6330e"
REVENUECAT_TEST_STORE_APP_ID = "appe6e9997ae7"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appa68dfb0f9f"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app141ec5f131"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_jWDguiatkkHyyYCgdFvQqDYdvhy"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_xBmOqbbmIcPWhiHBqwSNYdjFior"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_DTYWNdfJHmbCYTSokLgbXFNfnGe"

[userenv.development]
STRIPE_CONNECT_CLIENT_ID = "ca_UPQquxPmXaA176A5VmeM6ZMLywBDIElj"

[userenv.production]
STRIPE_CONNECT_CLIENT_ID = "ca_UPcSp4vUWfJjrHXRVwZrIPpx0nJMUBr6"
